################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Internal-documentation.slnx/FileContentIndex
/.vs/Internal-documentation.slnx/v18/DocumentLayout.backup.json
/.vs/Internal-documentation.slnx/v18/.wsuo
